@font-face {
    font-family: 'sf-reg';
    src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'sf-bold';
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'sf-sb';
    src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}
@font-face {
    font-family: 'sf-med';
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'sf-med';
    src: url("../fonts/SF.otf") format("opentype");
}